.badge-config {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 4px 12px;
    border-radius: 999px;
    font-size: 13px;
    font-weight: 600;
    line-height: 1.2;
    border: 1px solid transparent;
    white-space: nowrap;
    text-transform: uppercase;
}

.badge-config-blue {
    background-color: #EEF2FF !important; /* Fondo azul muy suave */
    color: #2F49CF !important;            /* Texto azul corporativo */
    padding: 6px 14px;
    border-radius: 50px;                  /* Hace que sea un óvalo perfecto */
    font-weight: 700;                     /* Corregido guion medio */
    display: inline-block;
    font-size: 12px;
    letter-spacing: 0.5px;
}

/* Mismo día = azul EEF2FF*/
.badge-config-orange {
    background-color: #FFF3EA !important; /* Fondo naranja muy suave */
    color: #FD7401 !important;            /* Texto naranja corporativo */
    padding: 6px 14px;
    border-radius: 50px;                  /* Hace que sea un óvalo perfecto */
    font-weight: 700;                     /* Corregido guion medio */
    display: inline-block;
    font-size: 12px;
    letter-spacing: 0.5px;
}

.city-badge-group {
    display: inline-flex;
    align-items: center;
    gap: 12px;
}

